PORT=3000
NODE_ENV=development

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres.xwswvnxocryyyjvdaeir:7YHMUI1YHdK9hOF6@aws-0-eu-west-3.pooler.supabase.com:5432/postgres
JWT_SECRET=development-secret

